<%= form_for post do |form| %>

  <div class="title_input">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="description_input">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="image_input">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <div class="submit">
    <%= form.submit %>
  </div>

<% end %>