<h2><%= @post.title %></h2>

<p><%= @post.description %></p>

<%= image_tag @post.image, width: 500 %>

<div class="edit">
  <%= link_to "Edit Post", edit_region_post_path(@post.region, @post) %>
</div>

<%= button_to "Delete Post", region_post_path(@post.region, @post), method: :delete %>
