<%= form_for category do |form| %>

  <div class="name-input">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="description-input">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="submit-input">
    <%= form.submit %>
  </div>

<% end %>
