<% if current_user.admin? %>
  <%= link_to "Edit Region", edit_region_path(@region) %>
<% end %>

<h2><%= @region.name %></h2>

<%= link_to "Create Post", new_region_post_path(@region) %>

<h3>Categories</h3>

<% if current_user.admin? %>
  <%= link_to "New Category", new_region_category_path(@region) %>
<% end %>

<ul>
  <% @categories.each do |category| %>
    <li><%= link_to category.name, [@region, category] %></li>
  <% end %>
</ul>

